.container {
  width: 75%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.roll-btn {
  background-color: #4ECCA3;
  border-radius: 5%;
  color: #393E46;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  margin: 5% 0;
  width: 12rem;
}

body {
  background-color: #393E46;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
}

p {
  font-size: 2rem;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;

}
